@charset "utf-8";
/* CSS Document */

.list_contant{
	background-repeat:no-repeat;
	float:left;
	height:40px;
	width:10px;	
}
.list_contant_b{
	padding-left:45px; 
	background-position:right;
}
.list_contant_c{
	background-repeat:repeat-x; 
	height:40px; 
	width:835px; 
	float:left;
}
td.left{
	background-repeat:repeat-y; 
	width:10px;" 
}
td.middle{
	background-repeat:repeat; 
	width:835px;
}
td.bottom{
	background-repeat:repeat-y; 
	width:10px;
}
